/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */


/* Global
   ================================================================ */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #222;

  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

/* Headings
   ================================================================ */
h1 {
  /*font-family: "Oswald", serif;*/
  font-size: 58px;
  line-height: 1;
  float: left;
  margin-top: 20px;
}

h2 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  color:white;
}

h3 {
  font-family: "Oswald", serif;
  font-size: 25px;
  margin: 0;
}



/* Text Styles
   ================================================================ */
a,
a:visited {
  text-decoration: none;
  color: white;
}

p {
  margin: 0 0 30px;
}




/* Header/Footer
   ================================================================ */
header,
footer {
  color: white;
  background-color: #000000;
}

header {
  position: relative;
  padding: 0 42px;
  border-bottom: 4px solid #fbd334;
}

footer {
  clear: both;
  padding: 25px 38px;
}

footer p {
  margin: 0;
}



/* Navigation
   ================================================================ */
nav {
  float: right;
  padding-left: 30px;
  text-align: right;
}

nav li {
  float: left;
  text-align: center;
}

nav a {
  display: block;
  padding: 20px 15px;
}

nav a:hover {
  color: #fbd334;
}

header nav strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* Buttons
   ================================================================ */
/*.button,
.button:visited {
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  background: #deece6;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
}
*/
/* Super info button in blurb */
.blurb .button {
  transition: all .2s ease;
  color: white;
  background: #fa4542;
}

.blurb .button:hover {
  color: white;
  background: #f6201d;
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  background-image: url(../images/hamburger.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
}


/* Tagline
   ================================================================ */
/*.tagline {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #aaa;
  background-color: #deece6;
}


/* Banner
   ================================================================ */
.blurb {
  float: left;
  width: 520px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, .0);
}

.blurb p {
  color:white;
  font-size: 22px;
}

.banner {
  overflow: hidden;
  padding: 3%;
  background-image: url(../images/filter-interior.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Info Sections (Call to action columns)
   ================================================================ */
.info {
  float: left;
  width: 33.333333334%;
  margin: 25px 0;
  padding: 24px 38px;
  border-right: 1px solid rgba(0,0,0,.15);
}

.info:last-of-type {
  border-right: none;
}


@media screen and (max-width: 1020px) {
    header {
      padding: 20px;
    }

    h1 {
      float: none;
      margin-top: 0;
      text-align: left;
    }

    nav {
      display: none;
      float: none;
      padding-left: 0;
      text-align: center;
    }

    nav li {
      float: none;
      padding: 15px;
    }

    nav a {
      padding: 0;
      font-size: 22px;
      line-height: 22px;
    }
    .tagline{
      display:none;
    }

    .hamburger {
      display: block;
    }


  p{
    font-size: 16px;
    line-height: 1.25;
  }

  h2 {
    font-size: 24px;
    color:white;


  }


  .blurb {
    width: 320px;
    margin: 0 auto;
    margin-right: 25px;
    padding-top: 20px;
    padding-left:0px;
    background-color: rgba(255, 255, 255, .0);
    box-shadow: 0 0 5px rgba(0,0,0,.75);
  }

  .blurb .button {
    transition: all .2s ease;
    margin: 0 auto;

  }
  .info {
    width: 100%;
    margin: 25px 0;
    padding: 24px 38px;
    border-right: 1px solid rgba(0,0,0,.15);
  }
  h3 {
    font-size: 18px;
  }

  .button, .button:visited {
    padding: 8px;
    font-size: 16px;    
   
  }


}









